<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.flysli.gadget.dao.MesAbnormalTimeDao">
    
    <resultMap id="abnormalMapper" type="org.flysli.gadget.bean.dto.UserAbnormalDto">
        <id column="username" property="userName"/>
        <result column="nickname" property="nickName"/>
        <collection property="abnormalTimes" ofType="org.flysli.gadget.bean.MesAbnormalTime">
            <!--<id column="username" property="userName"/>-->
            <result column="abnormalUuid" property="abnormalUuid"/>
            <result property="expstartTime" column="expstartTime"/>
            <result property="expendTime" column="expendTime"/>
        </collection>
    </resultMap>
    
    <select id="findByUserName" resultMap="abnormalMapper" parameterType="java.lang.String">
        SELECT * FROM sys_user a LEFT JOIN mes_abnormal_time b ON a.`username`=b.userName WHERE a.`username`=#{userName}
    </select>

</mapper>
